<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Second Hand Electronics</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div> -->

    <div id="container">

        <nav>
            <ul>
                <!--For all users-->
                <a href="/"><li>Home</li></a>
                <a href="/item/catalog"><li>Catalog</li></a>
                {{#if isAuthenticated}}
                <a href="/item/create"><li>Create Offer</li></a>
                <a href="/item/search"><li>Search</li></a>
                <a href="/user/logout"><li>Logout</li></a>
                {{else}}
                <!--For guest user-->
                <a href="/user/login"><li>Login</li></a>
                <a href="/user/register"><li>Register</li></a>
                {{/if}}

            </ul>

        </nav>

        {{{body}}}

        <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
    </div>

</body>

</html>